body {
  background-image: url("https://media.istockphoto.com/id/912159594/photo/soft-wave-of-turquoise-sea-water-on-the-sandy-beach-close-up-and-directly-above-photographed.jpg?s=1024x1024&w=is&k=20&c=tovjKFi2k86Tl3Q9ovRv7KqXSju8ZGZFdYtod5cPsXc=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
